# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.con
*.tlog
*.obj
*.log
*.manifest
*.pdb
*.user
*.sdf
*.ipch
*.suo
*.ilk
*.opensdf

/trunk/temp/ctp-trader-demo/ctp-trader-demo/bin/obj/test/test.exe.embed.manifest.res
/trunk/temp/ctp-trader-demo/ctp-trader-demo/bin/obj/test/test.lastbuildstate
/trunk/temp/ctp-trader-demo/ctp-trader-demo/bin/obj/test/test_manifest.rc
/trunk/temp/ctp-trader-demo/ctp-trader-demo/bin/test.exe

/trunk/Source/AT/Debug
/trunk/Source/AT/MD/Debug
/trunk/Source/AT/AT_Base/Debug